@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Fira+Code:wght@300..700&family=Varela+Round&display=swap');

html, body {
    margin: 0;
    padding: 0;
    color: #eceff4;
    background-color: #2e3440;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

.content {
    width: 750px;
    margin: auto;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
  }
  
  .content p, h1 {
    text-align: left;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    display: inline;
    margin-right: 10px;/
  }
  
  ul li:last-child {
    margin-right: 0;
  }

  .navbar-list {
    margin-bottom: 20px;
    font-family: "Fira Code";
  }

  .social-icons img {
    width: 24px;
    height: 24px;
    margin-top: 10px; 
    margin-bottom: 50px;
  }

  header h1 {
    margin-top: 50px;
  }

  h1 {
    font-family: "Fira Code", serif;
    font-weight: 500;
  }

  h2 {
    font-family: "Fira Code";
    font-weight:bolder
  }

  h3 {
    font-family: "Fira Code";
    font-weight: 400;
  }

  span, p {
    font-family: "Fira Code";
  }

  span a {
    margin-right: 5px;
  }

  a {
    color: #d8dee9;
    font-weight: bold;
  }

  a:visited {
    color: #d8dee9;
    font-weight: bold;
  }

  .flipthetories {
    padding: 2px;
    color: #2e3440;
    background-color: #a3be8c;
  }

  .flipthetories a {
    color: #4c566a;
    font-weight: bold;
  }

  .flipthetories a:visited {
    color: #4c566a;
    font-weight: bold;
  }

  .trunqie {
    padding: 2px;
    color: #2e3440;
    background-color: #b48ead;
  }

  .trunqie a {
    color: #4c566a;
    font-weight: bold;
  }

  .trunqie a:visited {
    color: #4c566a;
    font-weight: bold;
  }

  .portfolio {
    padding: 2px;
    color: #2e3440;
    background-color: #ebcb8b;
  }

  .portfolio a {
    color: #4c566a;
    font-weight: bold;
  }

  .portfolio a:visited {
    color: #4c566a;
    font-weight: bold;
  }